body {
  font-family: "Lucida Console", Monaco, monospace;
  margin: 0, auto;
}

h1 {
  text-align:center;
  color: #2a322a;
  border-radius:4px;
  
}

.activity {
  background-color:#7f977f;
  border-radius: 6px;
}

 .activity-description {
  background-color:#95b195;
  font-weight: lighter;
	margin: 6px;
  border-radius: border-radius: 0px;
  padding: 20px;
  margin-left: 100px;
  display: block;
  max-width:1200px;
}

.image {
  margin:0px;
  text-align: center
}


h2 {
  margin:5px;
  padding:20px;
  text-align: center
}

p {
	margin: 10px 0;
}


* {
	box-sizing:border-box;
}  